---
layout: base.njk
title: Glossary Terms
---


## Testing

_verb_

gerund or present participle: **testing**

1. take measures to check the quality, performance, or reliability of (something), especially before putting it into widespread use or practice.
2. "this range has not been tested on animals" 

testing last line

## Web Design

Web design is the process of creating [websites](https://techterms.com/definition/website). It encompasses several different aspects, including [webpage](https://techterms.com/definition/webpage) layout, content production, and graphic design. While the terms web design and [web development](https://techterms.com/definition/web_development) are often used interchangeably, web design is technically a subset of the broader category of web development.
